body{
    font-family:"Poppins", sans-serif;
}
#bouton-contact{
    padding:0.5%;
    width: 5%;
    border-radius: 20% / 50%;
    height: 10%;
    padding-right: 6%;
}
#bouton-contact:hover{
    background-color: aquamarine;
}

#bouton-a-propos{
    margin-left: -2.5%;
    border-radius: 20% / 50%;
    height: 10%;
    padding:0.5%;
}
#bouton-a-propos:hover{
    background-color: aquamarine;
}
#Lou-Urdaneta{
    margin-top: 10%;
    margin-left:21.5%;
    font-size: 800%;
    margin-bottom: -10%;
}
#description{
    
    text-align: center;
}
#boutons{
    margin-left:5%;

}
.bouton-projets{
    margin-right: 5%;
    width: 14.5%;
    padding: 1%;
}
.bouton-projets{
    margin-right: 5%;
    width: 14.5%;
    padding: 1%;
   border-radius: 35;
}
.bouton-projets:hover{
    background-color: aqua;
}
#illu-1 {
    width: 10%;
    height: 10%;
    background-image: url('images/imageTest.jpg');
    background-size: cover;
    display: none; 
    margin-top: 5%;
}